@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: #fff;
  color: rgb(23 23 23);
  font-family: "Poppins", "Red Hat Display", "Pretendard", "Roboto",
    "Noto Sans KR", sans-serif;
}

html.dark {
  background-color: rgb(23 23 23);
  color: rgb(249 250 251);
}

body {
  overflow-x: hidden;
}

.inner {
  width: 1360px;
  margin: 0 auto;
  padding: 100px 40px;
}

.red {
  outline: 1px solid red;
}

/* Intro */
.box {
  position: relative;
  inset: 0 0 0 100%;
  transform: translate(-50%, 50%);
  width: 30px;
  height: 30px;
  background: #f8d10a;
  border-radius: 50%;
  z-index: -1;
}

.box::before {
  content: "";
  position: absolute;
  inset: -25px -25px auto auto;
  z-index: -1;
  width: 80px;
  height: 80px;
  background: #f8d10a;
  border-radius: 50%;
  opacity: 0.5;
  animation: scale-up 2.5s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

@keyframes scale-up {
  100% {
    opacity: 0.2;
    transform: translate(0, 0) scale(0.3);
  }
}

.box-02 {
  position: relative;
}

.box-02::after {
  position: absolute;
  inset: 50% auto auto 50%;
  transform: translate(0, 150%);
  content: "";
  width: 1px;
  height: 30px;
  background: #ddd;
}

.intro-content-left {
  margin: 0 0 0 120px;
}

.img-wapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 120px 0 0;
}

.img-wapper::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -57%);
  content: "";
  width: 500px;
  height: 600px;
  border-radius: 400px 400px 0 0;
  border: 1px solid rgb(248, 209, 10, 0.4);
}

.img {
  width: 500px;
  object-fit: cover;
  overflow: hidden;
  filter: grayscale(100%);
  border-radius: 400px 400px 0 0;
}

.box-03 {
  position: absolute;
  right: -20px;
  bottom: -50px;
  width: 300px;
  height: 300px;
  background: #f8d10a;
  border-radius: 50%;
  opacity: 60%;
}

.scroll-dwon {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 38px;
  opacity: 0.4;
  animation: scroll-down 2.5s infinite;
}

@keyframes scroll-down {
  0% {
    transform: translateY(0);
  }

  100% {
    opacity: 0.2;
    transform: translateY(20px);
  }
}

/* Experience */
.experience-content-wapper {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  padding: 100px;
}

.experience-content:nth-child(1) {
  padding: 0 0 60px 0;
}

.experience-content:nth-child(2) {
  padding: 60px 0 0 0;
}

.experience-content>div>figure>img {
  width: 280px;
  border-radius: 10px;
}

.experience-content>div>:nth-child(2) {
  /* outline: 1px solid red; */
  flex: 0.7;
}

.experience-content:first-child {
  border-bottom: 1px solid #f2f2f2;
}

/* Project */
.project {
  background: rgb(249, 249, 249, 0.5);
}

.project-content-wapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.project-content {
  position: relative;
  border-radius: 30px;
}

.project-img-box {
  border-radius: 30px 30px 0 0;
}

.project-img-box>img {
  height: 280px;
  border-radius: 30px 30px 0 0;
  overflow: hidden;
  object-fit: cover;
}

.project-text-box-link {
  display: block;
  border-radius: 0 0 30px 30px;
  background: #fff;
  cursor: pointer;
}

.project-text-box {
  padding: 60px 50px 50px 50px;
}

.project-text-box-number {
  position: relative;
  z-index: 1;
  color: #fff;
  display: inline-block;
  margin: 0 0 32px 12px;
}

.project-text-box-number::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 44px;
  height: 44px;
  background: #333;
  border-radius: 50%;
}

.project-btn-wapper {
  display: flex;
  gap: 10px;
}

.btn-link {
  display: inline-block;
}

.btn {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 30px;
  background: #f8d10a;
  border-radius: 25px;
  font-weight: 500;
}

.btn:hover {
  background: #333;
  color: #fff;
}

.show-more-button {
  display: flex;
  justify-content: center;
}

.btn-more {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 60px;
  background: #999;
  border-radius: 10px;
  font-weight: 500;
  color: #fff;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background: rgb(23, 23, 23, 0.9);
  overflow-y: auto;
}

.modal-content-wapper {
  position: relative;
  /* 상대 위치로 변경 */
  top: 20px;
  left: 0;
  background: #fff;
  width: calc(100% - 100px);
  max-height: calc(100vh - 40px);
  margin: 0 auto;
  padding: 200px;
  overflow-y: scroll;
  scrollbar-width: none;
}

.modal-content-wapper::-webkit-scrollbar {
  display: none;
  /* Webkit(Chrome, Safari)용 스크롤바 숨김 */
}

.modal-content {
  display: flex;
  flex-direction: column;
}

.close {
  position: fixed;
  top: 60px;
  right: 100px;
  font-size: 80px;
  cursor: pointer;
  opacity: 0.5;
}

.modal-content-title {
  text-align: center;
}

.modal-project-item-img {
  border-radius: 20px;
  width: 80%;
  margin: 0 auto 96px auto;
}

.dot>li::before {
  display: inline-block;
  width: 3px;
  height: 3px;
  content: "";
  background: #777;
  border-radius: 50%;
  margin: 0 10px 2px 0;
}

/* skill */
/* .skill-wapper {
  padding: 100px 0;
} */

/* .skill-inner {
  width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
} */

.marquee {
  /* padding: 40px 0; */
  display: flex;
  white-space: nowrap;
  font-weight: 500;
  font-size: 50px;
  /* outline: 1px solid red; */
  color: #999;
}

.marquee>div {
  display: flex;
  transform: translate(-50%, 0%) translate3d(0px, 0px, 0px);
  border-top: 1px solid #bbb;
  padding: 20px 0;
}

.marquee>div>figure {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 0 20px;
}


.marquee>div>span {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 0 20px;
}

.marquee>div>figure>img {
  width: 40px;
}

.skill-content-wapper {
  overflow: hidden;
}