@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Poppins", "Red Hat Display", "Pretendard", "Roboto",
    "Noto Sans KR", sans-serif;
  word-break: keep-all;
}

.white {
  background: #fff;
  color: rgb(23 23 23);
}

.dark {
  background: rgb(27 29 31);
  color: rgb(232 235 237);
}

.inner {
  max-width: 1360px;
  margin: 0 auto;
  padding: 100px 40px;
  width: 100%;
}

.red {
  outline: 1px solid rgb(31, 31, 31);
}

/* 테블릿 모바일 햄버거 버튼 */
nav.block > ul {
  padding: 100px 50px 50px;
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  width: 100%;
}

nav.block::before {
  background: rgba(20, 20, 20, 0.7);
  content: "";
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
}

.point-text {
  display: inline-block;
  background: #f8d10a;
  padding: 0 1px 0 1px;
  font-weight: 500;
}

.dot > li {
  display: block;
  position: relative;
  padding: 0 0 0 12px;
}

.dot > li::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  z-index: auto;
  width: 3px;
  height: 3px;
  background: #777;
  border-radius: 50%;
}

/* intro */
.intro {
  position: relative;
  margin: 0 auto;
  width: 100%;
}

.img-wapper {
  max-width: 100%;
  position: relative;
}

.box-item {
  position: absolute;
  padding: 0 !important;
}

.box-item-ani {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.box-01 {
  position: absolute;
  bottom: 8%;
  right: 14%;
}

.box-02 {
  top: 5%;
  left: 8%;
  transform: rotate(-45deg);
}

.box-03 {
  top: 12%;
  left: 15%;
}

.box-04 {
  bottom: 8%;
  left: 35%;
}

.box-05 {
  bottom: 7%;
  left: 8%;
  transform: rotate(-40deg);
}

.box-06 {
  bottom: 8%;
  left: 20%;
  transform: rotate(10deg);
}

.box-07 {
  top: 3%;
  right: 22%;
  transform: rotate(-10deg);
}

.box-08 {
  bottom: 10%;
  right: 15%;
  transform: rotate(25deg);
}

.box-09 {
  top: 15%;
  right: 10%;
  transform: rotate(10deg);
}

.box-10 {
  top: 35%;
  right: 8%;
  transform: rotate(3deg);
}

.intro-ani {
  animation: intro-ani 1.5s infinite alternate;
}

@keyframes intro-ani {
  0% {
    opacity: 0.2;
    transform: translateY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(-5px);
  }
}

.yellow-line {
  position: absolute;
  bottom: 0;
  background: #f8d10a;
  width: 100%;
  color: rgb(23 23 23);
}

.flow-text {
  display: flex;
  flex: 0 0 auto;
  white-space: nowrap;
  overflow: hidden;
  transition: 0.3s;
}

.flow-text:hover .flow-wrap {
  animation-play-state: paused;
}

.flow-wrap {
  animation: textLoop 10s linear infinite;
  padding-right: 1.4881vw;
}

@keyframes textLoop {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.scroll-dwon {
  position: absolute;
  bottom: 15%;
  left: 50%;
  font-size: 40px;
  opacity: 0.4;
  animation: scroll-down 2.5s infinite;
}

@keyframes scroll-down {
  0% {
    transform: translate(-50%, 0);
  }

  100% {
    opacity: 0.2;
    transform: translate(-50%, 20px);
  }
}

/* Experience */
.experience-content:nth-child(1) {
  padding: 0 0 60px 0;
}

.experience-content:nth-child(2) {
  padding: 60px 0 0 0;
}

.experience-content > div > figure > img {
  width: 280px;
  border-radius: 10px;
}

.experience-content > div > :nth-child(2) {
  flex: 0.7;
}

/* Project */
.project {
  background: rgb(249, 249, 249, 0.5);
}

.project-content-wapper {
  gap: 30px;
}

.project-content {
  position: relative;
  border-radius: 30px;
}

.project-img-box {
  border-radius: 30px 30px 0 0;
}

.project-img-box > img {
  width: 100%;
  height: 274px;
  border-radius: 30px 30px 0 0;
  overflow: hidden;
  object-fit: cover;
}

.project-text-box-link {
  display: block;
  border-radius: 0 0 30px 30px;
  background: #fff;
  cursor: pointer;
}

.project-text-box {
  padding: 50px;
}

.project-text-box-number {
  position: relative;
  z-index: 1;
  color: #fff;
  display: inline-block;
  margin: 0 0 32px 12px;
}

.project-text-box-number::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 44px;
  height: 44px;
  background: #000;
  border-radius: 50%;
}

.btn {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 30px;
  background: #f8d10a;
  border-radius: 25px;
  font-weight: 500;
  color: rgb(23 23 23);
}

.btn-more {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 60px;
  background: #999;
  border-radius: 10px;
  font-weight: 500;
  color: #fff;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background: rgb(23, 23, 23, 0.9);
  overflow-y: auto;
}

.modal-content-wapper {
  position: relative;
  top: 20px;
  left: 0;
  background: #fff;
  width: calc(100% - 200px);
  max-height: calc(100vh - 40px);
  margin: 0 auto;
  overflow-y: scroll;
}

.modal-bnt {
  position: fixed;
  top: 0;
}

.close {
  position: fixed;
  top: 60px;
  right: 180px;
  font-size: 80px;
  cursor: pointer;
  opacity: 0.5;
}

.link-wapper {
  position: fixed;
  bottom: 50px;
  right: 180px;
  cursor: pointer;
  opacity: 0.5;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(31, 31, 31);
  width: 60px;
  height: 60px;
  color: #ddd;
  font-size: 30px;
  border-radius: 50%;
}

.modal-project-item-img {
  border-radius: 20px;
  width: 80%;
  margin: 0 auto;
}

.modal-desc {
  border-bottom: 1px solid #ddd;
  position: relative;
}

.tab {
  outline: 1px solid rgb(228, 228, 228);
}

.active-tab {
  background: rgb(243 244 246);
  font-weight: 600;
  outline: none;
}

.tab.dark {
  outline: 1px solid rgb(73, 73, 73);
  background: rgb(51, 51, 51);
}

.active-tab.dark {
  background-color: rgb(31, 31, 31);
  outline: none;
}

/* skill */
.skill-list > .skill-front > .skill-list-item > span > img {
  width: 20px;
  height: 20px;
}

.skill-list > .skill-front > span > img {
  width: 20px;
  height: 20px;
}

.skill-list > .skill-front > .skill-list-item > span {
  font-size: 18px;
}

.skill-list > .skill-front > span {
  font-size: 18px;
}

/* education */
.education {
  background: rgb(249, 249, 249, 0.5);
}

.education-content-left > img {
  height: 500px;
  overflow: hidden;
  object-fit: cover;
}

.education-content-right > ul:nth-child(1) {
  padding: 0 0 40px 0;
}

/* contact */
.contact-content {
  background: #f8d10a;
  padding: 100px 120px;
  border-radius: 30px;
  box-shadow: 3px 3px 20px rgba(235, 228, 31, 0.35);
  align-items: center;
  margin: 0 auto;
}

.contact-icon {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
}

.contact-icon::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 50px;
  height: 50px;
  background: #fcec9a;
  border-radius: 50%;
}

.contact-icon > svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* footer */
.footer {
  background-color: rgb(23 23 23);
  color: #979aa3;
}

.footer-wapper {
  width: 1360px;
  margin: 0 auto;
  padding: 40px;
}

.scroll-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.scroll-top > button {
  width: 68px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 24px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

/* ----- 반응형 ----- */
@media not all and (min-width: 1280px) {
  /* intro */
  .intro-content-left {
    padding: 0 40px;
  }

  .img::before {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -57%);
    content: "";
    border-radius: 400px 400px 0 0;
    border: 1px solid rgb(248, 209, 10, 0.4);
    width: 100%;
    height: 550px;
  }

  .box-05 {
    bottom: 7%;
    left: 7%;
  }

  .box-06 {
    bottom: 13%;
    left: 20%;
  }

  .box-10 {
    top: 23%;
    right: 8%;
  }

  /* experience */
  .experience-content-wapper {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 40px 30px;
  }

  .experience-content:nth-child(1) {
    padding: 0 0 40px 0;
  }

  .experience-content:nth-child(2) {
    padding: 40px 0 0 0;
  }

  .experience-content > div > figure > img {
    width: 250px;
    border-radius: 10px;
  }

  .experience-content > div > :nth-child(2) {
    flex: 0.7;
  }

  .project-content-wapper {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .experience-content-wapper {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 40px;
  }

  .experience-content:nth-child(1) {
    padding: 0 0 40px 0;
  }

  .experience-content:nth-child(2) {
    padding: 40px 0 0 0;
  }

  .experience-content > div > :nth-child(2) {
    flex: 0.7;
  }

  /* Project */
  .project-content-wapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .project-content {
    position: relative;
    border-radius: 20px;
    width: 100%;
  }

  .project-img-box {
    border-radius: 20px 20px 0 0;
  }

  .project-img-box > img {
    width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    object-fit: cover;
  }

  .project-text-box-link {
    display: block;
    border-radius: 0 0 20px 20px;
    background: #fff;
    cursor: pointer;
    width: 100%;
  }

  .project-text-box {
    padding: 30px;
  }

  .project-text-box-number {
    position: relative;
    z-index: 1;
    color: #fff;
    display: inline-block;
    margin: 0 0 32px 12px;
  }

  .project-text-box-number::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 38px;
    height: 38px;
    background: #000;
    border-radius: 50%;
  }

  .project-btn-wapper {
    display: flex;
    gap: 10px;
  }

  .btn-link {
    display: inline-block;
  }

  .btn {
    padding: 8px 20px;
    border-radius: 20px;
    font-size: 14px;
  }

  .show-more-button {
    display: flex;
    justify-content: center;
  }

  .btn-more {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 60px;
    background: #999;
    border-radius: 10px;
    font-weight: 500;
    color: #fff;
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background: rgb(23, 23, 23, 0.9);
    overflow-y: auto;
  }

  .modal-content-wapper {
    position: relative;
    /* 상대 위치로 변경 */
    top: 20px;
    left: 0;
    background: #fff;
    width: calc(100% - 40px);
    max-height: calc(100vh - 40px);
    margin: 0 auto;
    padding: 120px 20px;
    overflow-y: scroll;
    /* scrollbar-width: none; */
  }

  .modal-bnt {
    position: fixed;
    top: 0;
    left: 20px;
    width: calc(100% - 40px);
    height: 80px;
    background: #fff;
    z-index: 999;
  }

  .close {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translate(0, -50%);
    font-size: 50px;
    cursor: pointer;
    opacity: 0.5;
  }

  .link-wapper {
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translate(0, -50%);
    cursor: pointer;
    opacity: 0.5;
    display: flex;
    flex-direction: column;
    width: 44px;
    height: 44px;
  }

  .link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(31, 31, 31);
    width: 44px;
    height: 44px;
    color: #ddd;
    font-size: 22px;
    border-radius: 50%;
  }

  .modal-desc {
    border-bottom: 1px solid #ddd;
    padding: 60px 20px;
    position: relative;
  }

  .tab {
    outline: 1px solid rgb(228, 228, 228);
  }

  .active-tab {
    background: rgb(243 244 246);
    font-weight: 600;
    outline: none;
  }

  .tab.dark {
    outline: 1px solid rgb(73, 73, 73);
    background: rgb(51, 51, 51);
  }

  .active-tab.dark {
    background-color: rgb(31, 31, 31);
    outline: none;
  }

  /* education */
  .education-content-right > ul:nth-child(1) {
    border-bottom: 1px solid #ddd;
    padding: 0 0 20px 0;
  }

  .contact-icon {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
  }

  .contact-icon::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 50px;
    height: 50px;
    background: #fcec9a;
    border-radius: 50%;
  }

  .contact-icon > svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .scroll-top {
    position: fixed;
    bottom: 20px;
    right: 10px;
  }

  .scroll-top > button {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  }
}

@media not all and (min-width: 768px) {
  .inner {
    max-width: 1360px;
    margin: 0 auto;
    padding: 100px 20px;
    width: 100%;
  }

  /* intro */
  .item {
    display: flex;
    gap: 8px;
  }

  .item > span {
    display: block;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }

  .scroll-dwon {
    position: absolute;
    bottom: 30%;
    left: 50%;
    font-size: 40px;
    opacity: 0.4;
    animation: scroll-down 2.5s infinite;
  }

  @keyframes scroll-down {
    0% {
      transform: translate(-50%, 0);
    }

    100% {
      opacity: 0.2;
      transform: translate(-50%, 20px);
    }
  }

  .experience-content > div > figure > img {
    width: 200px;
    border-radius: 10px;
  }

  /* skill */
  .skill-list > .skill-front > .skill-list-item > span {
    font-size: 16px;
  }

  .skill-list > .skill-front > span {
    font-size: 16px;
  }

  /* education */
  .education-content-left > img {
    height: 250px;
    margin: 0 auto;
  }

  /* contact */
  .contact-content {
    padding: 50px;
    border-radius: 20px;
  }
}
