@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: #fff;
  color: rgb(23 23 23);
  font-family: "Poppins", "Red Hat Display", "Pretendard", "Roboto",
    "Noto Sans KR", sans-serif;
}

html.dark {
  background-color: rgb(23 23 23);
  color: rgb(249 250 251);
}

body {
  overflow-x: hidden;
}

.inner {
  width: 1360px;
  margin: 0 auto;
  padding: 100px 40px;
}

.red {
  outline: 1px solid red;
}

/* Intro */
.box {
  position: relative;
  inset: 0 0 0 100%;
  transform: translate(-50%, 50%);
  width: 30px;
  height: 30px;
  background: #f8d10a;
  border-radius: 50%;
  z-index: -1;
}

.box::before {
  content: "";
  position: absolute;
  inset: -25px -25px auto auto;
  z-index: -1;
  width: 80px;
  height: 80px;
  background: #f8d10a;
  border-radius: 50%;
  opacity: 0.5;
  animation: scale-up 2.5s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

@keyframes scale-up {
  100% {
    opacity: 0.2;
    transform: translate(0, 0) scale(0.3);
  }
}

.box-02 {
  position: relative;
}

.box-02::after {
  position: absolute;
  inset: 50% auto auto 50%;
  transform: translate(0, 150%);
  content: "";
  width: 1px;
  height: 30px;
  background: #ddd;
}

.intro-content-left {
  margin: 0 0 0 120px;
}

.img-wapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 120px 0 0;
}

.img-wapper::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -57%);
  content: "";
  width: 500px;
  height: 600px;
  border-radius: 400px 400px 0 0;
  border: 1px solid rgb(248, 209, 10, 0.4);
}

.img {
  width: 500px;
  object-fit: cover;
  overflow: hidden;
  filter: grayscale(100%);
  border-radius: 400px 400px 0 0;
}

.box-03 {
  position: absolute;
  right: -20px;
  bottom: -50px;
  width: 300px;
  height: 300px;
  background: #f8d10a;
  border-radius: 50%;
  opacity: 60%;
}

.scroll-dwon {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 38px;
  opacity: 0.4;
  animation: scroll-down 2.5s infinite;
}

@keyframes scroll-down {
  0% {
    transform: translateY(0);
  }

  100% {
    opacity: 0.2;
    transform: translateY(20px);
  }
}

/* Experience */
.experience-content-wapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.experience-content {
  display: flex;
  padding: 80px 50px;
  border-radius: 30px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.02), 0 2px 4px -2px rgb(0 0 0 / 0.02);
}

.experience-content>div:nth-child(1) {
  flex: 2;
  border-right: 1px solid rgb(225, 225, 225);
  padding: 0 30px;
}

.experience-content>div:nth-child(2) {
  flex: 4;
  padding: 0 30px;
}

.experience-content>ul:nth-child(3) {
  flex: 5;
  border-left: 1px solid rgb(225, 225, 225);
  padding: 0 30px;
}

.experience-content>ul>li::before {
  display: inline-block;
  width: 3px;
  height: 3px;
  content: "";
  background: #777;
  border-radius: 50%;
  margin: 0 10px 2px 0;
}

/* Project */
.project {
  background: rgb(249, 249, 249, 0.5);
}

.project-content-wapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.project-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  border-radius: 30px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.02), 0 2px 4px -2px rgb(0 0 0 / 0.02);
}

.project-img-box {
  flex: 1;
  border-radius: 30px 0 0 30px;
  /* border-left: 2px dotted rgba(26, 26, 26, 0.1); */
}

.project-img-box>img {
  height: 410px;
  overflow: hidden;
  object-fit: cover;
  border-radius: 30px 0 0 30px;
}

.project-text-box-link {
  flex: 1;
  display: block;
  border-radius: 0 30px 30px 0;
  background: #fff;
  cursor: pointer;
}

.project-text-box {
  padding: 50px;
}

.project-text-box-number {
  position: relative;
  z-index: 1;
  color: #fff;
  display: inline-block;
  margin: 0 0 32px 12px;
}

.project-text-box-number::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 44px;
  height: 44px;
  background: #333;
  border-radius: 50%;
}

.btn-link {
  display: inline-block;
}

.btn {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 30px 10px 30px;
  background: #f8d10a;
  border-radius: 25px;
  font-weight: 500;
}

.btn:hover {
  background: #333;
  color: #fff;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* 모달 내용이 화면을 벗어나도 스크롤이 가능하도록 */
  z-index: 999;
  background: rgb(23, 23, 23, 0.9);
  overflow-y: auto;
  /* 세로 스크롤이 생길 경우 자동으로 추가 */
}

.modal-content-wapper {
  position: relative;
  /* 상대 위치로 변경 */
  top: 50px;
  left: 0;
  background: #fff;
  width: 1360px;
  max-height: calc(100vh - 100px);
  /* 모달 내용의 최대 높이를 화면 높이에서 상하 여백 50px을 뺀 값으로 설정 */
  overflow-y: auto;
  /* 내용이 모달 밖으로 벗어날 경우 스크롤이 가능하도록 */
  margin: 0 auto;
  padding: 100px;
}

.modal-content {
  display: flex;
  flex-direction: column;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 70px;
  cursor: pointer;
}

.modal-content-title {
  text-align: center;
}

.modal-project-item-img {
  border-radius: 30px;
  width: 80%;
  margin: 0 auto 96px auto;
}